<div class="section-card" id="eduId">
    <h4>education<i class="fa fa-book" aria-hidden="true"></i></h4>
    
    

    <div style="display:flex;">
        <div class="card degree-name" data-aos="right">
            <div class="card-body">
                Master's (2017-2020)
            </div>
        </div>
        <div class="card degree-desc" data-aos="right">
            <div class="card-body">
                <div class="clg-name">
                    National Institute of technology,Durgapur
                </div>
                <div class="course">
                    MCA 
                </div>
                <div>
                    CGPA:8.25/10
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;">
        <div class="card degree-name" data-aos="right">
            <div class="card-body">
                Bechelor's (2014-2017)
            </div>
        </div>
        <div class="card degree-desc" data-aos="right">
            <div class="card-body">
                <div class="clg-name">
                    Invertis University,Bareilly
                </div>
                <div class="course">
                    BCA 
                </div>
                <div>
                    Percentage:79%
                </div>
            </div>
        </div>
    </div>
    <div style="display:flex;">
        <div class="card degree-name" data-aos="right">
            <div class="card-body">
                SSC (2013-2014)
            </div>
        </div>
        <div class="card degree-desc" data-aos="right">
            <div class="card-body">
                <div class="clg-name">
                    Kendriya Vidyalaya J.R.C,Bareilly
                </div>
                <div class="course">
                    Intermediate
                </div>
                <div>
                    Percentage:86%
                </div>
            </div>
        </div>
    </div>
</div>