<div>
    <div class="book-img">
        <div class="insideImgHire">
          <div style="font-size: 30px;font-family: monospace;
          font-weight: bold;justify-content: space-around;
          text-align: center;">Sonam</div>
          <br/>
          <div style="font-size: 20px;font-family: monospace;
        text-align: center;">Software Engineer</div>
          <br/>
          <div style="font-size: 20px;font-family: monospace;display: flex;justify-content: center;">
            <button type="button" class="btn btn-success" (click)="scrollToContact()">Hire Me</button>
            <button type="button" class="btn btn-success" (click)="getCv()">Get CV</button>
          </div>
        </div> 
        
      </div>
      <div class="roundPstn">
        <a type="button" class="btn btn-error roundBtn" href="https://github.com/sonamsingh18" target="_blank"><img src="./../assets/github1.png"/></a>
        <a type="button" class="btn btn-error roundBtn" title="linkedin" href="https://www.linkedin.com/in/sonam-k-49b70515b/" target="_blank"><img src="./../assets/linkedin1.png"/></a>
      </div>
</div>