<div class="section-card" id="aboutId">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-6">
        <div class="card-body">
        <h3 class="card-title" style="font-family: monospace;font-weight: bold;font-size: 25px;">About</h3>
        <div style="color: teal;">
        Hello I'm <div style="font-weight: bold;display: inline-block;">Sonam</div>.
        <div>
        I am Software Engineer at Factset Research Systems.
      </div>
      </div>
      </div>
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h3 class="card-title" style="font-family: monospace;font-weight: bold;font-size: 25px;">Basic Information</h3>
            <div class="flex-dir">
              <div class="row">
                <div class="col-md-3">
                  <div class="text-uppercase">
                    EMAIL:
                  </div>
                  </div>
                  <div class="col-md-9">
                  <div class="text-lowercase" style="text-transform: lowercase !important;">
                      sonamsingh70512@gmail.com
                  </div>
                  </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3">
                  <div class="text-uppercase">
                    PHONE:
                  </div>
                  </div>
                    <div class="col-md-9">
                  <div class="text-lowercase">
                    +91-7983724797
                
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-md-3">
                  <div class="text-uppercase">
                    LANGUAGE:
                  </div>
                  </div>
                    <div class="col-md-9">
                  <div class="text-lowercase">
                    Hindi,English
                  </div>
                </div>
                </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>