<div class="section-card" id="expId">
    <h4>Work experience <i class="fa fa-shopping-bag" aria-hidden="true"></i></h4>
        <ul class="timeline">
            <li>
                
                <div class="card mb-3" data-aos="right">
                    <div class="card-body">
                        <p style="display: inline-block;font-family: monospace;font-weight: bold;font-size: 20px;">Factset Systems Pvt. Ltd,India</p>
                        <p class="float-right">1 july, 2020-present
                        <p>Working with the Sales Engineering and Technology Services Team.
                            Developed various Web applications using Vue JS,Angular,Node
                            JS,C#,ASP.Net Framework.<br/>
                            Written test cases using Nunit framework.
                            <br/>
                            Worked with different design patterns.
                        </p>
                    </div>
                      
                </div>
            </li>
        </ul>
            
</div>