<div class="section-card" id="projectId">
    <h4>Projects <i class="fa fa-laptop" aria-hidden="true"></i></h4>
    <div class="card-group">
    <div class="card">
        <img class="card-img-top" src="/assets/Portfolio.PNG" alt="Portfolio image">
        <div class="card-body">
            <h5 class="card-title">Portfolio</h5>
            <p class="card-text">Portfolio is build using Angular and Bootstrap</p>
            <div class="btn-style">
                <a href="https://github.com/sonamsingh18/Portfolio" class="btn btn-success" target="_blank">github</a>
                <a href="https://github.com/sonamsingh18/Portfolio" class="btn btn-success" target="_blank">project</a>
            </div>
        </div>
    </div>
    <div class="card h-200">
        <img class="card-img-top" src="/assets/Compiler.PNG" alt="Online Compiler image">
        <div class="card-body">
            <h5 class="card-title">Online Compiler</h5>
            <p class="card-text">A frontend responsive web application which would let the users code on the left and output the result on the right.It is HTML,CSS,Javascript editor.It is responsive for mobile screens,Editor on top and Iframe on bottom.</p>
            <div class="btn-style">
                <a href="https://github.com/sonamsingh18/Online-Compiler" class="btn btn-success" target="_blank">github</a>
                <a href="https://sonamsingh18.github.io/Online-Compiler/" class="btn btn-success" target="_blank">project</a>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="/assets/RF.PNG" alt="Restaurant Finder image">
        <div class="card-body">
            <h5 class="card-title">Restaurant Finder</h5>
            <p class="card-text">A web application that helps user browse restaurants and classify them based on various categories.This was build using Node js, Vue js, Mongodb, Express.</p>
            <div class="btn-style">
                <a href="https://github.com/sonamsingh18/Restaurants-of-the-world" class="btn btn-success" target="_blank">github</a>
                <a href="https://github.com/sonamsingh18/Restaurants-of-the-world" class="btn btn-success" target="_blank">project</a>
            </div>
        </div>
    </div>
</div>