<div class="section-card" id="skillsId">
    <h4>Skills <i class="fa fa-laptop" aria-hidden="true"></i></h4>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div class="skill-name">
                            Data Structures
                        </div>
                        <div class="skill-percent">
                            85%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" 
                        style="width: 85%" aria-valuenow="80" 
                        aria-valuemin="0" aria-valuemax="100"
                        data-aos="flip-left"></div>
                      </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div class="skill-name">
                            Algorithms
                        </div>
                        <div class="skill-percent">
                            85%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-aos="flip-left" role="progressbar" style="width: 85%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                    <div class="skill-name">
                        Angular
                    </div>
                    <div class="skill-percent">
                        80%
                    </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-aos="flip-left" style="width: 80%" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div class="skill-name">
                            Vue
                        </div>
                        <div class="skill-percent">
                            80%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-aos="flip-left" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div class="skill-name">
                            C++/C
                        </div>
                        <div class="skill-percent">
                            80%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-aos="flip-left" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div class="skill-name">
                            Javascript
                        </div>
                        <div class="skill-percent">
                            80%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-aos="flip-left" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div class="skill-name">
                            C#
                        </div>
                        <div class="skill-percent">
                            75%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-aos="flip-left" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div  class="skill-name">
                            Github
                        </div>
                        <div class="skill-percent">
                            75%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-aos="flip-left" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div  class="skill-name">
                            Sql server
                        </div>
                        <div class="skill-percent">
                            70%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" data-aos="flip-left" role="progressbar" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="col-md-12" style="display: flex;">
                        <div class="skill-name">
                            Node js
                        </div>
                        <div class="skill-percent">
                            70%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" data-aos="right" style="width: 70%" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>